.nosotros{

    &__container-video-promocional{
        text-align: center;
        margin: 4em 12vw 6em;

        @media (max-width: 750px){
            margin: 4em 11vw 4em;
                
        }
        @media (max-width: 750px){
            margin: 4em 8vw 3em;
                
        }

        &__video{
            width: 100%;

        }
    }



    &__cards-container{
        margin: 2.3em 5vw;
    }

    &__container-card{
        display: flex;
        justify-content: center;
        @media (max-width: 750px){
            flex-direction: column;
            margin-bottom: 4em;
        }

        &__column-reverse{
            @media (max-width: 750px){
                flex-direction: column-reverse;
            }
        }
    }

    &__container{
        &__border-right{
            border-right: 3px solid var(--variable-color1);
            text-align: end;
            @media (max-width: 750px){
                border: none;
                text-align: start;
            }
        }
        &__border-left{
            border-left: 3px solid var(--variable-color1);
            @media (max-width: 750px){
                border: none;
            }
        }
    }

    &__container-img{
        width: 50%;
        padding-bottom: 8em;
        @media (max-width: 750px){
            width: 100%;
            padding-bottom: 0;
            text-align: center;
        }

        &__border{
            margin-top: 1.7em;
        }

        &__padding-left{
            padding: 0 3vw 0 5.5vw;

            @media (max-width: 750px){
                padding: 0;
            }
        }

        &__padding-right{
            padding: 0 5.5vw 0 3vw;

            @media (max-width: 750px){
                padding: 0;
            }            
        }
    }

    &__img{
        width: 100%;
        height: 200px;
        object-fit: cover;

        @media (max-width: 750px){
            width: 85%;
            height: auto;
            border: none;
        }
    }

    &__card-info{
        width: 50%;
        display: flex;
        padding-bottom: 4em;
        @media (max-width: 750px){
            width: 100%;
            padding-bottom: 0;
        }

        &__title{
            margin-bottom: .4em;
            @media (max-width: 750px){
                color: var(--variable-color1);
            }
        }
    }

    &__text-container{
        margin: 0 4vw;
        height: fit-content;
        border-radius: 20px;
        
    }

    &__line-left{
        height: .35em;
        width: 80%;
        background-color: var(--variable-color1);
        @media (max-width: 750px){
            display: none;
        }
    }
    &__line-right{
        height: .35em;
        width: 80%;
        background-color: var(--variable-color1);
        @media (max-width: 750px){
            display: none;
        }
    }



}
